body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.letraza{font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;}

.formm {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  width: 1450px;
  height: 85vh;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: auto;
  margin-top: 1rem;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

